<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0751D8F1213CE0DD003CD1A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0751D905213CE0E0003CD1A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0751D910213CE0E0003CD1A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
